{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <form action="" method="post">{% csrf_token %}
            <p>"{{ articles.title }}" nomli postni o'chiraymi</p>
            <input type="submit" value="O'chirish" class="btn btn-danger ml-2">
        </form>
    {% endblock content %}
</body>
</html>