{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bosh sahifa{% endblock title %}</title>
</head>
<body>
    {% block content %}    
        <div class="jumbotron">
            <h1 class="display-4">Assalom alaykum!</h1>
            <p class="lead">Huseyn Komilovning shaxsiy blogiga xush kelibsiz.</p>
            <hr class="my-4">
            <p>Bu yerda siz dasturlash va dasturchilarga oid so'nggi yangiliklardan xabardor bo'lib turasiz.</p>
            <p class="lead">
                <a class="btn btn-danger btn-lg" href="{% url 'article_list' %}" role="button">Postlarni ko'rish</a>
            </p>
        </div> 
    {% endblock content %}
</body>
</html>